<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h4 style="font-weight: 200;">Últimos posts</h4>
        </div>
    </div>

    <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let post of posts; let i = index" data-target="#carouselExampleCaptions" [class]=" i === 0 ? 'active' : ''"></li>
            </ol>
            <div class="carousel-inner" style="padding: 10px 65px;">
                <div *ngFor="let post of posts; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}" [routerLink]="['/Detail', post.id]">
                    <div class="card bg-ligth text-white">
                        <img [src]="post.image" class="card-img" [alt]="post.title">
                        <div class="card-img-overlay">
                          <h5 class="card-title">{{post.title}}</h5>
                          <p class="card-text">{{post.short_description}}</p>
                          <small class="related-text">Por {{post.autor}} el {{ post.created_at| parseDate | date:'EEEE, dd MMMM  y, hh:mm a' }} </small>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="another-card">

        </div>
    </div>
</div>