.card {
    border: none;
    background-color: transparent;
    .card-img {
        border-radius: 20px;
        width: 100%;
        height: 310px !important;
    }

    .card-img-overlay {
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        color: #FFF;
        background: rgba(0, 0, 0, .4);
    }

    .related-text {
        font-weight: 700;
    }
}
.another-card {
    border-radius: 20px;
    position: absolute;
    z-index: -5;
    width: 85%;
    height: 84%;
    left: 45px;
    background-color: #ccc;
}