<nav aria-label="..." class="mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <ul class="pagination">
                    <li class="page-item" *ngFor="let item of createArray(pages); let i = index" aria-current="page" [ngClass]="{'active': page == (i+1)}">
                      <a class="page-link" href="#" (click)="changePage(i+1, $event)">
                        {{i + 1}}
                      </a>
                    </li>
                </ul>
            </div>

            <div class="col-6">
                <div class="text-right">
                    <h6>Total {{total}} registros</h6>
                </div>
            </div>
        </div>
    </div>
</nav>