.modal {
    .modal-dialog {
        .modal-content {
            border: none;
            border-radius: 15px;
            .modal-header {
                background-color: #2f89fc;
                color: #fff;
            }

            .modal-body  {
                .list-group {
                    .list-group-item {
                        border: none;
                    }
                }
                form {
                    padding: 5px 15px;

                    .btn-success {
                        background-color: #2ec1ac;
                        border: 1px solid #2ec1ac;
                    }
                }
            }
        }
    }
}