<div class="modal" id="tab_create_post" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear un post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="alert alert-danger" *ngIf="errors?.length > 0" role="alert">
                    <ol>
                        <li *ngFor="let error of errors">error</li>
                    </ol>
                </div>
                <form (ngSubmit)="onSubmit()" [formGroup]="form" class="needs-validation" novalidate>
                    <div class="form-group mb-3">
                        <label for="title">Titulo del post</label>
                        <input type="text" class="form-control" placeholder="" id="title"  formControlName="title" [ngClass]="{'is-invalid': form.get('title').invalid, 'is-valid': form.get('title').valid}" />
                    </div>
                    <div class="form-group my-3">
                        <label for="image">Imagen</label>
                        <input type="text" class="form-control" placeholder="Url de la imagen" id="image"  formControlName="image" [ngClass]="{'is-invalid': form.get('image').invalid, 'is-valid': form.get('image').valid}" />
                    </div>
                    <div class="form-group my-3">
                        <label for="short_description">Descripción corta</label>
                        <input type="text" class="form-control" placeholder="Descripción corta" id="short_description"  formControlName="short_description" maxlength="75" [ngClass]="{'is-invalid': form.get('short_description').invalid, 'is-valid': form.get('short_description').valid}" /> 
                        <small class="text-muted"> {{form.get('short_description').value.length}}/ 75</small>
                    </div>
                    <div class="form-group my-3">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" name="" id="description" rows="5" formControlName="description" [ngClass]="{'is-invalid': form.get('description').invalid, 'is-valid': form.get('description').valid}" ></textarea>
                    </div>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Salir</button>
                    <button type="submit" class="btn btn-success float-right" [disabled]="loading$ | async">
                        <span *ngIf="loading$ | async" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        {{ (loading$ | async) ? 'Cargando' : nameAction }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>