.head {
    height: 150px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: auto;

    .overlay {
        margin: auto !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        font-weight: bold;
        color: #FFF;
        background: rgba(0, 0, 0, .4);
    }
}