<ng-container *ngIf="(postDetail$ | async) as post">
    <div class="row">
        <div class="col-2">
            <button class="btn btn-link btn-lg" (click)="back()">Volver</button>
        </div>
        <div class="col-10 text-right">
            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tab_create_post" >Editar <i class="far fa-edit"></i></button>
        </div>
    </div>
    
    
    <div class="row head" [ngStyle]="{'background-image': 'url('+(postDetail$ | async)?.image+')', 'background-repeat':'repeat', 'background-size':'contain' }">
        <div class="col-12 text-center overlay text-white">
            <h3>{{(postDetail$ | async)?.title}}</h3>
            <p>por {{(postDetail$ | async)?.autor}}</p>
        </div>
    </div>
    
    <div class="row text-justify px-3">
        <div class="col-12">
            <p [innerHTML]="(postDetail$ | async)?.description | safeHtml"></p>
        </div>
    </div>
    
    <app-modal-create-post [post]="postDetail$ | async" ></app-modal-create-post>
</ng-container>
