.bgLogin {
  background-color: #00bb77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
  
.card {
  border: none;
  .card-body {
    border-radius: 45px;
    padding: 20px 35px;
    background-color: #fff;
    color: #002a3e;
  }
}
  
img {
  width: 220px;
  margin: 10px 0px;
}