<div class="row bgLogin">
    <div class="col-lg-5 col-sm-8 mx-auto">
        <h2 class="text-white">XPEC BLOG</h2>
        <img src="../../../../assets/img/logo.png" class="rounded mx-auto d-block img-fluid" alt="...">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="titulos card-title text-center">Login</h5>
                <form [formGroup]="loginForm" (ngSubmit)="submit()">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo eléctronico</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                      <small class="text-danger font-weigth-bold" *ngIf="loginForm.get('email').invalid">* Este campo es requerido</small>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                      <small class="text-danger font-weigth-bold" *ngIf="loginForm.get('password').invalid">* Este campo es requerido</small>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-lg px-4 mt-2 btn-block" [disabled]="!loginForm.valid || (loading$ | async)">
                        <span *ngIf="loading$ | async" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        {{ (loading$ | async) ? 'Cargando' : 'Ingresar'}}
                      </button>
                    </div>
                </form>

                <div class="col-12 text-center">
                    Iconos diseñados por <a href="https://www.flaticon.es/autores/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                </div>
            </div>
        </div>
    </div>
</div>
