
nav {

    height: 57px;

    &.bg-blue {
        background-color: #002a3e;
    }

    a {
        padding: 10px 15px;
        color: #fff;
        cursor: pointer;
        border-radius: 100%;
      /* HOVER OFF */
       -webkit-transition: background-color .6s;
       -moz-transition: background-color .6s;
       -o-transition: background-color .6s;
       transition: background-color .6s;
    
        &.navbar-brand:hover {
            background-color: rgba($color: #002a3e, $alpha: 0.95) !important;
            color: #fff !important;
            border-radius: 100%;
            -webkit-transition: background-color .6s;
            -moz-transition: background-color .6s;
            -o-transition: background-color .6s;
            transition: background-color .6s;
        }
    }
    
}