<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-dark" (click)="ToogleMenu()">
      <i class="fas fa-bars"></i>
    </a>
    <div class="float-right" *ngIf="(user | async) as user">
      <span class="badge badge-primary float-right p-2"><i class="fas fa-user-astronaut"></i> {{user.name}}</span>
    </div>
</nav>