<div class="list-group ">
    <a href="!#" class="list-group-item list-group-item-action border-bottom" *ngFor="let post of posts" (click)="OnClick(post.id, $event)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{post.title}}</h5>
        <small class="text-info">{{post.created_at | parseDate | dateAgo}}</small>
      </div>
      <p class="mb-1">{{post.short_description}}</p>
      <small>Por {{post.autor}}</small>
    </a>
</div>