.list-group-item {
    border: none;
}

.square-add {
    height: 45px;
    width: 195px;
    background-color: #dee2e6;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 0px 5px;
    border: 3px dashed #bbb;
    padding: 0px 10px;

    i {
        color: #bbb;
    }
}