<div class="row mb-4">
    <div class="col-8">
        <h4 style="font-weight: 200;">Listado de posts</h4>
        <span class="square-add text-center" data-toggle="modal" data-target="#tab_create_post" >
            <i class="fas fa-plus fa-2x m-auto"></i> Crear nuevo post
        </span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="list-group ">
            <app-list-post [posts]="(posts$ | async)?.items" (selected)="redirect($event)" ></app-list-post>
            <app-paginator [page]="page" [pages]="(posts$ | async)?.pages" [total]="(posts$ | async)?.total" (eventPage)="changePage($event)"></app-paginator>
        </div>
    </div>
</div>

<app-modal-create-post></app-modal-create-post>