/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import './assets/scss/sidebar.scss';

html, body { height: 100%; width: 100%;}

@font-face {
    font-family: CircularStd;
    src: url(./assets/fonts/CircularStd/CircularStd.ttf);
}

body { 

    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #fff;
}

.titulos {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

}

.bg-sidebar {
    background-color: #00bb77 !important;
    color: #fff;
}

input {
    &.form-control {
        background-color: #dee2e6 ;
        border: none;
        border-radius: 10px;
    }

    &.form-control:focus {
        background-color: #fff;
        color: #000;
        border: none;
        box-shadow: 0 0 0 0.2rem rgba($color: #002a3e, $alpha: 0.25) ;
    }
}

textarea {
    &.form-control {
        background-color: #dee2e6 ;
        border: none;
        border-radius: 10px;
    }
    

    &.form-control:focus {
        background-color: #fff;
        color: #000;
        border: none;
        box-shadow: 0 0 0 0.2rem rgba($color: #002a3e, $alpha: 0.25) ;
    }
}

select {
    
    &.form-control {
        background-color: #dee2e6 ;
        border:0px;
        outline:0px;
        border-radius: 40px;
    }
    

    &.form-control:focus {
        background-color: #dee2e6;
        border: none;
        box-shadow: 0 0 0 0.2rem rgba($color: #002a3e, $alpha: 0.25) ;
    }

}


.fade-in {
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }


/** EFFECTS */

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}